/* FORM */

body {
    background: none;
    /* background-color: rgba(1, 6, 15, 1); */
    /* background-color: rgba(250, 250, 250, 1); */
}

.Authwrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    /* padding: -10px; */
    margin-top: auto;
    margin-bottom: auto;
    /* vertical-align: middle; */
    background-color: rgba(1, 6, 15, 1);
    height: 100vh;
    background-image: linear-gradient(180deg, #01060f, #01060f);
    /* opacity: 0.9; */
}

#AuthformContent1 {
    margin-top: 3em;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /* background: rgba(255, 255, 255, 1); */
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    /* border: 0.5px solid rgba(255, 255, 255, 0.5); */
    /* -webkit-box-shadow: 0 30px 60px 0 rgba(255, 255, 255, 0.3); */
    box-shadow: 0px 0.5px 0px 2px rgba(255, 255, 255, 0.3);
    /* -webkit-box-shadow: 0 30px 60px 0 rgba(30, 30, 120, 0.3);
    box-shadow: 0 30px 60px 0 rgba(30, 30, 120, 0.3); */
    text-align: center;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

#AuthformContent {
    margin-top: 3em;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    /* background: #fff; */
    box-shadow: 0px 0.5px 0px 2px rgba(255, 255, 255, 0.3);
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    /* -webkit-box-shadow: 0 30px 60px 0 rgba(30, 30, 120, 0.3); */
    /* box-shadow: 0 30px 60px 0 rgba(30, 30, 120, 0.3); */
    text-align: center;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}


/* FORM BODY*/

.btn-auth {
    background-color: rgba(1, 6, 15, 0.9);
    /*border: none;
    */
    color: white;
    box-shadow: 0px 0.5px 0px 2px rgba(255, 255, 255, 0.3);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    height: 2.5em;
    width: 10em;
    /*-webkit-box-shadow: 0 5px 40px 0 rgba(30, 30, 120, 0.9);
    box-shadow: 0 5px 40px 0 rgba(30, 30, 120, 0.9);
    */
    -webkit-border-radius: ;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: ;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    transition: all 0.5s ease-in-out;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.btn-auth:hover {
    background-color: rgba(1, 6, 15, 1);
    font-size: 1em;
    height: 2.5em;
    width: 8em;
    color: white;
}

.btn-auth:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.loginInput {
    background-color: white;
    border: none;
    color: rgba(1, 6, 15, 1);
    padding: 15px 32px;
    /* height: 3em; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 5px;
    width: 85%;
    border: 2px solid whitesmoke;
    /*border-bottom: 1px solid  rgba(30, 30, 120, 0.9);
    */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: ;
    -ms-transition: ;
    -o-transition: ;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -ms-border-radius: 5px 5px 5px 5px;
    -o-border-radius: 5px 5px 5px 5px;
    -webkit-transition: ;
}

.loginInput:focus {
    background-color: #fff;
    border-bottom: 1px solid rgba(30, 30, 120, 0.9);
    color: rgba(30, 30, 120, 0.9);
    /* font-weight: 600; */
}


/* ANIMATIONS */

.fadeInAuthDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeInAuth {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.fadeInAuth.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.1em
}

.fadeInAuth.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
    margin-bottom: 0.5em;
}

.fadeInAuth.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
    margin-bottom: 0.5em;
}

.fadeInAuth.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    margin-top: 1em
}

.hrAuth {
    width: 45%;
    display: inline-block;
    margin-bottom: 0.3em;
    background-color: rgba(30, 30, 120, 0.9);
}

.orBox {
    color: rgba(30, 30, 120, 0.9);
    margin-top: -1.7em;
    margin-bottom: 1em;
}

.orBtn {
    margin-top: 0.5em;
}

.signInLink {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.3)
}

.signInLink:hover {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.7)
}

.ApiResponse {
    color: red;
    font-size: 0.95em;
    margin-top: -0.6em;
    width: 85%;
    margin-left: 7.5%;
    font-weight: 600;
}